*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common style  */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
/* common class */
.conteiner{
    /*width: 71%; */
    max-width: 1440px; 
    /* margin: 0px auto; */
    border: 1px solid black;
    margin-bottom: 130px;
}

.logo{
    font-size: 40px;
    font-weight: 700px;
    

}
.color-orange{
    color: #FD6E0A;
}
/* main style  */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1440px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
nav .menu{
    display: flex;
    /* justify-content: space-between; */
    list-style: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
.btn{
    /* width: 150px;
    height: 65px; */
    background-color: #FD6E0A;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 18px 36px;
    font-size: 20px;
    font-weight: 600;
    

}
.conteiner{
    margin-right: 0px;
    margin-left: auto;
}
#hero{
    display: flex;
    margin-top: 49px;
}
.hero-content{
    align-items: center;
    /* justify-items: center; */
}
.hero-content *{
    margin-bottom: 20px;
}
.hero-content h2{
    font-size: 45;
    font-weight: 400;
    color: #474747;
}
.hero-content p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
}
.hero-img{
    /* background-image: url(); */
}
#hero-img img{
    width: 574px;
    height: 676px;
}



/* about section */
.about{
   width: 75%; 
    max-width: 1440px; 
    margin: 0px auto;
    /* border: 1px solid black; */
    margin-bottom: 130px;
    background-color: #FFF8F3;
}
#about-me{
    padding: 131px 156px;
    /* justify-content: center; */
    text-align: center;
}
.about-content h2{
    font-size: 35px;
    color: #181818;
    padding-bottom: 30px;

}
.about-content p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    padding-bottom: 30px;

}
#info{
    display: flex;
    gap: 30px;
    justify-content:space-around;
}


/* slill section  */
#skill-section, .resume-section{
    width: 75%; 
    max-width: 1440px; 
    margin: 0px auto;
    margin-bottom: 130px;
}
.skill{
    text-align: center;
}
.skill .heading h2{
    font-size: 35px;
    padding-bottom: 30px;
}
.skill .heading p{
    font-size: 18px;
    color: #757575;
    padding-bottom: 40px;
}
#skill-box{
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.box{
    padding: 25px;
    box-shadow: 0 6px 50px 0px #0000005c;
    border-radius: 6px;
}
.box h3{
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.box p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

/* resume section  */
#heading{
    display: flex;
    justify-content: space-between;
    gap: 70px;
}
.content h3{
    font-size: 30px;
    padding-bottom: 30px;
    color: #474747;
}
.content h4{
    padding-bottom: 10px;
    font-size: 25px;
    color: #474747;
}
.content h5{
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    color: #757575;
}
.content p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    padding-bottom: 60px;
}

/* contract section  */
#Contract-conteiner{
    display: flex;
    justify-content: space-between;
    gap: 115px;
    padding: 80px 173px;
}
#contact h2, #massege h2{
    font-size: 35px;
    padding-bottom: 20px;
}
#contact p{
    font-size: 16px;
    color: #474747;
    line-height: 28px;
    padding-bottom: 30px;
}